.fl {
  float: left;
}
.fr {
  float: right;
}
.iconfont {
  display: inline-block;
  font-size: 16px;
  /* color: #B4B4B4; */
}
.foot-img {
  width: 1200px;
  margin: 16px auto 0;
  padding-bottom: 30px;
  text-align: center;
  /* cursor: pointer; */
}
.foot-img img {
  cursor: pointer;
}

.el-progress-bar__inner {
  background: linear-gradient(90deg,#91BD35,#3F8A38);
}
